<div class="container-fluid" id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3 footer-box" >
						<h3 class="footer-title">COMPANY INFO</h3>
						<ul class="footer-nav">
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
						</ul>
					</div>
					<div class="col-md-3 footer-box">
						<h3 class="footer-title">ADDITIONAL SERVICES</h3>
						<ul class="footer-nav">
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
						</ul>
					</div>
					<div class="col-md-3 footer-box">
						<h3 class="footer-title">CONNECT WITH US</h3>
						<ul class="footer-nav">
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
						</ul>
					</div>
					<div class="col-md-3 footer-box">
						<h3 class="footer-title">BROWSE</h3>
						<ul class="footer-nav">
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
							<li><a href="#">Test</a></li>
						</ul>
					</div>
				</div>
				<div class="row" id="footer-follow">
					<h3 class="footer-title">FOLLOW US</h3>
				</div>
				<div class="row" >
					<ul class="list-inline social-fade text-center">	
						<li>
							<a href="#" target="_blank">
								<img class="white" src="assets/images/fb-white.png" />
								<img class="color" src="assets/images/fb-color.png" />
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
							<img class="white" src="assets/images/twitter-white.png" />
								<img class="color" src="assets/images/twitter-color.png" />
								
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<img class="white" src="assets/images/google-white.png" />
								<img class="color" src="assets/images/google-color.png" />
								
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<img class="white" src="assets/images/linkedin-white.png" />
								<img class="color" src="assets/images/linkedin-color.png" />
								
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<img class="white" src="assets/images/youtube-white.png" />
								<img class="color" src="assets/images/youtube-color.png" />
								
							</a>
						</li>
					</ul>
				</div>

				<div class="row">
					<div class="text-center" id="footer-copyright">
						&#169; 2015 VidGigPro
					</div>

				</div>
