<fieldset>
    <h2>Create Your Video</h2>

    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                <label>Video Name</label>
                <input id="videoName" ng-model="formData.videoname" name="videoname" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Video Use</label>
                <div class="input-group">
                	<select id="videoUse" ng-model="formData.videouse" name="videouse" chosen class="chosen-select">
                		<option value="">Select</option>
				        <option value="youtube">Youtube</option>
				        <option value="facebook">Facebook</option>
				        <option value="amazon">Amazon</option>
				        <option value="ecommerce">Ecommerce Site</option>
				    </select>
				</div>
            </div>
            <div class="form-group">
                <label>Length of video</label>
               <div class="input-group">
                	<select id="videoLength" ng-model="formData.videolength" name="videolength" chosen class="chosen-select">
                		<option value="">Select</option>
				        <option value="30s">0-30 seconds</option>
				        <option value="30s-1m">30 seconds - 1 minute</option>
				        <option value="1m-2m">1-2 minutes</option>
				        <option value="2m+">Over 2 minutes</option>
				    </select>
				</div>
        </div>
        <div class="col-lg-4">
            <div class="text-center">
                <div style="margin-top: 20px">
                    <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                </div>
            </div>
        </div>
    </div>
    <a ui-sref="dash.wizard.step_two" class="btn btn-primary">Next</a>
</fieldset>Step #5
